@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css');

aside {
     /* Adjust as needed */
    background-color: #272727; /* Adjust as needed */
    /* Add padding as needed */

    justify-content: center;
    align-items: center;
}
#most-popular-wrapper{
    background-color: #272727;
    margin-left: 53px;
    padding: 55px;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
}


.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}


.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}


.card-block {
    padding: 1.25rem;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}


.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a{
    color:white;
}

.page-container {
     /* Adjust as needed */
    background-color: #272727; /* Adjust as needed */
    /* Add padding as needed */
}
footer
{
    font-family: Raleway;
    margin: 0 auto;
  padding: 5em 3em;
  margin-left: 0;
  text-align: center;
    background: #555;
}